.sidebar{

    width: 82px;
    background-color: #F9FAFB;
    height: 100%;
    border: 1px solid #E8EBF1;
}
.navbar{
    position: fixed;
    top: 0;
    height: 40px;
    background-color: red;
}
 .icon-style{
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#131525;
}
.active-dashboard-page{
    background-color: #FFFFFF;
    border:1px solid #E8EBF1;

}